sbin/Messenger/Data/account_key
sbin/Messenger/Data/friends
home/Music/
NFP
usr/settings.conf
manifest.txt
sbin/MPlayer/Data/player.conf
sbin/MPlayer/Data/cache
installer_dev.lua
installer_release.lua
Clipboard.txt
sbin/test
sbin/Speed
sbin/NotYield
_startup.lua
log.txt
groove.nfp
test.nfp